/*
Author: Tres Pi S.C.P

MAPA DE CONTENIDOS:

1) =ROOT:
  1.1) =Variables de personalizacion de pagina:

2) =TIPOGRAFIAS:

3) =ETIQUETAS GLOBALES:

4) =ESTRUCTURA:
  4.1) =screen:
  4.2) =screen_lang:
  4.3) =screen_poolss:
  4.4) =screen_widgets:
  4.5) =set_widgets:

5) =COMPONENTES:
  5.1) =panel:
  5.2) =viday:
  5.3) =widget:
  5.4) =donut_graph:
  5.5) =donut_graph_indicator:
  5.6) =donut_graph_deco:
  5.7) =donut_graph_text:
  5.8) =widget_arrow_icon:

*/

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              1) =ROOT:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
            1.1) =Variables de personalizacion de pagina:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
:root {

}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              2) =TIPOGRAFIAS:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@font-face {
  font-family: "Lato Black";
  src: url("../../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("../../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("../../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Light";
  src: url("../../fonts/Lato-Light.ttf");
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              3) =ETIQUETAS GLOBALES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{object-fit:cover;width:100%;display:block}
video{width:100%;height:100%;display: block;object-fit: cover;}
a{text-decoration:none; color:inherit;}
ul{
  list-style: none;
}
.rowcol1{grid-row:1;grid-column:1}

:root {
  font-size: 20px;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              4) =ESTRUCTURA:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              4.1) =screen:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.screen {
  width: 100%;
  height: 100vh;
  display: grid;
  position: relative;
  overflow: hidden;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              4.2) =screen_lang:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.screen_lang {
  justify-items: center;
  grid-auto-rows: max-content;
}

.screen_lang_icon {
  width: 8.2rem;
  filter: drop-shadow(0px 0px 1.5px #fff);
  margin-top: 175px;
  transform: translateX(-25px);
}

.screen_lang_title {
  font-family: 'Lato Regular';
  color: #fff;
  font-size: 88px;
  margin-top: 60px;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(255,255,255,.3), 0 0 15px rgba(255,255,255,.3);
  line-height: 1.25;
}

.screen_lang_list {
  list-style: none;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  text-shadow: 0 0 10px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.3);
  margin-top: 70px;
}

.screen_lang_btn {
  background: none;
  border: none;
  font-family: 'Lato Regular';
  font-size: 38px;
  font-weight: 600;
  color: rgb(154, 183, 204);
  text-transform: uppercase;
  filter: drop-shadow( 0px 0px 1.5px #000);
  letter-spacing: 10px;
  text-align: center;
}

.screen_lang .selected {
  color: rgb(214, 0, 28);
  font-family: 'Lato Black';
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              4.3) =screen_pools:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.screen_pools {
  display: grid;
  transition: 0.5s;
  transition-delay: 1s;
}

/* .screen.Pools .screen_pools {
  opacity: 1;
  pointer-events: all;
} */

.screen_pools_interactive {
  display: flex;
  align-items: flex-end;
}

.screen_pools_interactive g path {
  stroke: white;
  transition: 0.25s;
}

.screen_pools_interactive g.selected path:not(:last-of-type) {
  stroke: #d6001c;
  fill: #0875bd36;
}

.screen_pools_interactive path:last-of-type {
  stroke: rgb(153, 182, 203);
  filter: drop-shadow(0px 0px 8px white);
}


.screen_pools_interactive g.selected path:last-of-type {
  fill: #d6001c;
  stroke: white;
}

.screen_pools_interactive g text {
  font-family: 'Lato Bold';
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              4.4) =screen_widgets:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.screen_widgets {
  padding: 68px;
  background-color: #00587c;
  display: grid;
  row-gap: 50px;
  transition: 0.5s;
  transition-delay: 1s;
}

/* .screen.Widgets .screen_widgets {
  opacity: 1;
  pointer-events: all;
} */

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              4.5) =set_widgets:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.set_widgets {
  display: grid;
  grid-auto-flow: column;
  column-gap: 50px;
}

.set_widgets_md {
  grid-template-columns: 1fr 1fr;
}

.set_widgets_sm {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              5) =COMPONENTES:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                              5.1) =panel:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.panel {
  padding: 68px 0 0 0;
  position: absolute;
  z-index: 5;
}

.panel_top {
  padding: 68px 68px 0 68px;
  width: max-content;
}

.panel_right {
  right: 0;
  width: 16.3%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #0875bd36;
  display: grid;
  justify-content: center;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  row-gap: 35px;
}

/* .screen.Pools .panel_right {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
  transition-delay: 1.25s;
} */

.panel_title {
  font-family: 'Lato Bold';
  font-size: 28px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 13px;
}

.panel_language {
  font-family: 'Lato Regular';
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.panel_text {
  color: #fff;
  font-family: 'Lato Regular';
  text-transform: capitalize;
  font-size: 18px;
}

.panel_stick {
  font-family: 'Lato Light';
}

.panel .selected {
  font-family: 'Lato Black';
  color: rgb(214, 0, 28);
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.2) =viday:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.viday {
  display: grid;
  justify-items: center;
  row-gap: 22px;
}

.viday:nth-child(1) { transition-delay: 1.75s; }
.viday:nth-child(2) { transition-delay: 2s; }
.viday:nth-child(3) { transition-delay: 2.25s; }
.viday:nth-child(4) { transition-delay: 2.50s; }

/* .screen.Pools .viday { transform: translateX(0); } */

.viday_media {
  --size: 15vh;
  height: var(--size);
  width: var(--size);
  position: relative;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.viday_media::after{
  --margin:8px;
  content:'';
  pointer-events: none;
  position: absolute;
  top:0;
  left:0;
  border-radius: 50%;
  border: solid 2px #d3e6f3;
  box-sizing: border-box;
  height: calc(100% - var(--margin) * 2);
  margin: var(--margin);
  width:  calc(100% - var(--margin) * 2);
}

.viday_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.viday_caption {
  font-family: 'Lato Black';
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 1.5;
  text-align: center;
}

.viday_btn_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 35px;
}

.viday_poster {
  height: 100%;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.3) =widget:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.widget {
  background-color: #004a6e;
  border-radius: 20px;
  padding: 40px 60px;
  overflow: hidden;
  display: grid;
  grid-auto-rows: min-content;
}

.widget_title {
  color: #d6001c;
  font-family: 'Lato Bold';
  letter-spacing: 3px;
  text-align: center;
}

.widget_footer_int {
  color: #fff;
  font-family: 'Lato Regular';
  letter-spacing: 3px;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.3.1) =widget_main:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.widget_main .widget_header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: min-content;
  justify-content: space-between;
}

.widget_main .widget_title {
  font-size: 94px;
  margin-bottom: 40px;
  text-align: left;
  font-family: 'Lato Light';
}

.widget_main .widget_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  align-items: end;
}

.widget_main .widget_footer_left {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px;
}

.widget_main .widget_footer_int {
  font-size: 55px;
  margin-bottom: 40px;
}

.widget_main .widget_footer_low {
  color: #91b6d8;
  font-size: 32px;
  font-family: 'Lato Regular';
  letter-spacing: 3px;
}

.widget_main .widget_footer_right {
  display: grid;
  gap: 25px;
  grid-auto-rows: min-content;
}

.widget_main .widget_footer_nor {
  color: #91b6d8;
  font-size: 45px;
  font-family: 'Lato Regular';
  letter-spacing: 3px;
}

.widget_main .widget_footer_icon {
  height: 100%;
  width: auto;
}

.widget_main .widget_header_icon {
  height: auto;
  width: 120px;
}

.widget_main .widget_footer_nor_icon {
  width: 50px;
  height: auto;
}

.widget_main .widget_footer_lino {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 15px;
  grid-auto-flow: column;
  align-items: center;
}

.widget_main .widget_footer_lina {
  display: grid;
  row-gap: 8px;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.3.2) =widget_status:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.widget_status {
  padding: 48px 60px 40px 60px;
  justify-items: center;
}

.widget_status .widget_title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Lato Regular';
  letter-spacing: 5px;
}

.widget_status .widget_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.widget_status .widget_footer_text {
  margin-top: 5px;
  font-family: 'Lato Regular';
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.widget_status .widget_footer_text_icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
}

.widget_status .donut_graph_count {
  font-size: 100px;
  color: #fff;
  font-family: 'Lato Light';
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.3.3) =widget_status_sm:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.widget_status_sm {
  padding: 65px 5px;
}

.widget_status_sm:nth-child(1) .widget_title {
  text-transform: none;
}

.widget_status_sm .widget_title {
  margin-bottom: 10px;
}

.widget_status_sm .widget_footer {
  width: 100%;
  justify-items: center;
}

.widget_status_sm .widget_footer_int {
  font-family: 'Lato Bold';
  color: #fff;
  font-size: 19px;
  letter-spacing: 2px;
  text-align: center;
}

.widget_status_sm .donut_graph {
  --donut_size: 225px;
  --donut_graph_indicator_radius: 15px;

  height: calc(var(--donut_size) / 2 + var(--donut_graph_indicator_radius) * 2);
  margin-top: 70px;
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.4) =donut_graph:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.donut_graph {
  --donut_size: 330px;

  position: relative;
  width: var(--donut_size);
  height: calc(var(--donut_size) / 2);
  margin-top: 43px;
  margin-bottom: 47px;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.5) =donut_graph_indicator:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.donut_graph_indicator {
  width: 35px;
  position: absolute;
  bottom: var(--donut_graph_indicator_radius);
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: center calc(100% - var(--donut_graph_indicator_radius));

  /* https://css-tricks.com/reversing-an-easing-curve/ */
  /* normal animation */
  --x1: 0.4;
  --y1: 1.06;
  --x2: 0.54;
  --y2: 1.2;

  --normal_curve: cubic-bezier(var(--x1), var(--y1), var(--x2), var(--y2));

  transition: transform 1s var(--normal_curve);
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.6) =donut_graph_deco:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.donut_graph_deco {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% + 30px);
  height: calc(100% + 30px);
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.7) =donut_graph_text:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.donut_graph_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  transform-origin: bottom;
}

.donut_graph_text  p {
  font-family: 'Lato Regular';
  font-size: 20px;
}

/* ---------------------------------------------------------------------------
------------------------------------------------------------------------------
                          5.8) =widget_arrow_icon:
------------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.widget_arrow_icon {
  width: 22px;
}
















/* MAKE ROOM FOR THE VIDEOS TOO */
main.video{
  /* width:1920px; */
  /* height:1080px; */
  width:100%;
  height:100%;
}
